

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #323232;
    padding-top: 50px;
    padding-bottom: 20px;
}

.sebastien-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 85px;
    margin: 300px 0 0 -200px;
}

.sebastien-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin: 0px 0 0 -200px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
