

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #323232;
}

.jumbotron {
    margin: 0;
    background-color: transparent;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.hover_effect {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.sebastien-text {
    -webkit-animation: neonspark 1.4s cubic-bezier(0, 1.21, 1, 0.06) infinite;
    -moz-animation: neonspark 1.4s cubic-bezier(0, 1.21, 1, 0.06) infinite;
    animation: neonspark 1.4s cubic-bezier(0, 1.21, 1, 0.06) infinite;
}

.sebastien-text:hover, .sebastien-text.hover_effect {
    -webkit-animation: neonspark .2s cubic-bezier(0, 1.21, 1, 0.06) infinite;
    -moz-animation: neonspark .2s cubic-bezier(0, 1.21, 1, 0.06) infinite;
    animation: neonspark .2s cubic-bezier(0, 1.21, 1, 0.06) infinite;
}

.sebastien-logo {
    max-width: 80%;
    -webkit-animation: spin 1.3s cubic-bezier(0.82, -0.12, 0.13, 0.84) infinite;
    -moz-animation: spin 1.3s cubic-bezier(0.82, -0.12, 0.13, 0.84) infinite;
    animation: spin 1.3s cubic-bezier(0.82, -0.12, 0.13, 0.84) infinite;
}

.sebastien-logo:hover, .sebastien-logo.hover_effect {
    -webkit-animation: spin .3s linear infinite;
    -moz-animation: spin .3s linear infinite;
    animation: spin .3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes neonspark  {
    0% {
		opacity: 1;
	}
	80% {
		opacity: .9;
        transform: translate(3px,1px);
	}
    85% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes neonspark  {
    0% {
		opacity: 1;
	}
	80% {
		opacity: .9;
        transform: translate(3px,1px);
	}
    85% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes neonspark  {
	0% {
		opacity: 1;
	}
	80% {
		opacity: .9;
        transform: translate(3px,1px);
	}
    85% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
