

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: url('../img/space.jpg') no-repeat fixed center;
    backgroud-size: cover;
}

h1 {
    background: -webkit-linear-gradient(left, #3f9dec, #a637ca);
    background: linear-gradient(to right, #3f9dec, #a637ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbotron {
    margin: 0;
    background-color: transparent;
}
